[package]
name = "geom-core"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true
publish = false

[dependencies]
serde = { workspace = true }
thiserror = { workspace = true }
mesh-io = { path = "../mesh-io" }
