[package]
name = "occt-bridge"
edition.workspace = true
version.workspace = true
license.workspace = true
authors.workspace = true
publish = false

[dependencies]
thiserror = { workspace = true }

[features]
default = []
occt = []
